@tailwind base;
@tailwind components;
@tailwind utilities;

/* writer animation */
.writer {
    font-family: Courier, monospace;
    display: inline-block;
}
.writer-text {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 2.5s steps(40, end), blink .75s step-end infinite;
    white-space: nowrap;
    font-size: 30px;
    font-weight: 700;
    border-right: 4px solid orange;
    box-sizing: border-box;
}
@keyframes typing {
    from { 
        width: 0% 
    }
    to { 
        width: 100% 
    }
}
@keyframes blink {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: orange; 
    }
}

.scroll-bar{
    scrollbar-color: #35364b45 transparent;
    scrollbar-width: medium;
    overflow-y: scroll !important;
  }

  /* width */
  .scroll-bar::-webkit-scrollbar {
  width: 7px;
  }
  
  /* Track */
 .scroll-bar::-webkit-scrollbar-track {
  background:transparent
  }
  
  /* Handle */
  .scroll-bar::-webkit-scrollbar-thumb {
  background: #35364b45; 
  cursor: pointer;
  }
  
  /* Handle on hover */
  .scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #454661; 
  }