@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: vazir;
    src: url('../fonts/vazir/Vazirmatn-Regular.ttf');
    /* persian font */
    unicode-range:U+0600-06FF;
}

@font-face {
    font-family: poppins;
    src: url('../fonts/poppins/Poppins-ExtraBold.ttf');
    font-weight:bold;
    /* english font */
    unicode-range: U+0020-007F;
}
*{
    font-family: vazir;
    font-weight: normal;
}
.poppins{
    font-family: poppins !important;
}
html{
    background-image: url('/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.scroll-bar{
    scrollbar-color: #35364b45 transparent;
    scrollbar-width: medium;
    overflow-y: scroll !important;
  }

  /* width */
  .scroll-bar::-webkit-scrollbar {
  width: 7px;
  }
  
  /* Track */
 .scroll-bar::-webkit-scrollbar-track {
  background:transparent
  }
  
  /* Handle */
  .scroll-bar::-webkit-scrollbar-thumb {
  background: #35364b45; 
  cursor: pointer;
  }
  
  /* Handle on hover */
  .scroll-bar::-webkit-scrollbar-thumb:hover {
  background: #454661; 
  }